@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #21bf73;
    --secondary-color: #f9fcfb;
    --third-color: #fd5e53;
    --fourth-color: #b0eacd;
    --error-color: #fde2e2;

    --blue-riot: #b2ebf2;
    --red-riot: #ffbcbc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    color: #333;
}

.container {
    padding: 0 20px;
}

select{
    padding: 5px 10px;
    margin: 4px 0px;
    border-radius: 4px;
    border: none;
    font-family: 'Jost', sans-serif;
    width: 100%;
    background-color: var(--secondary-color);
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, */
input {
    padding: 5px 10px;
    margin: 4px 0px;
    border-radius: 4px;
    background-color: var(--secondary-color) !important;
    border: none;
    font-family: 'Jost', sans-serif;
    font-size: .9rem;
    width: 100%;
    color: #333 !important;
    /* -webkit-text-fill-color: #333;
    -webkit-box-shadow: 0 0 0px 1000px var(--secondary-color) inset; */
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

/* input:disabled, select:disabled {
    background-color: #D4D4D4;
    -webkit-text-fill-color: #333;
    -webkit-box-shadow: 0 0 0px 1000px #D4D4D4 inset;
} */

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
} */

button {
    padding: 6px 10px;
    margin: 4px 0px;
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    font-size: 1rem;
    background-color: var(--main-color);
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    transition: opacity .3s;
}

button:hover:enabled {
    opacity: .8;
}

button:disabled {
    background-color: #fff;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    cursor: unset;
}

.player {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 8px 10px;
}

.player .tier {
    height: 30px;
    margin-left: 8px;
}

.profile-icon {
    height: 30px;
    border-radius: 50%;
}

#team-a-players .player{
    /* border-left: 3px var(--blue-riot) solid; */
    background-color: var(--blue-riot);
}

#team-b-players .player{
    /* border-left: 3px var(--red-riot) solid; */
    background-color: var(--red-riot);
}


.player span {
    margin-left: 8px;
}

.error {
    color: var(--third-color);
}

.error-input {
    border: 1px solid var(--third-color) !important;
    background-color: var(--error-color) !important;
}