@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    color: #333;
}

.container {
    padding: 0 20px;
}

input {
    padding: 5px 10px;
    margin: 4px 0px;
    border-radius: 4px;
    background-color: #f7f7f7;
    border: solid 1px #d0d0d0;
    font-family: 'Jost', sans-serif;
    font-size: .9rem;
    width: 100%;
}

select{
    padding: 3px 10px;
    margin: 4px 0px;
    border-radius: 4px;
    border: solid 1px #d0d0d0;
    font-family: 'Jost', sans-serif;
    width: 100%;
}

button {
    padding: 6px 10px;
    margin: 4px 0px;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    background-color: #0779e4;
    font-family: 'Jost', sans-serif;
    width: 100%;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 40px;
}